body {
  margin: 0%;
  background-color: rgb(48, 48, 48);
}

h1 {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  background-color: rgb(48, 48, 48);
  color: aliceblue;
}

.button {
  margin: 1em;
  margin-top: -10px;
  display: flex;
  justify-content: center;
}

button{
    font-size: 44px;
    padding: 5px;
    border-radius: 6px;
}

.outerContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 1px solid black;
  height: 85vh;
  aspect-ratio:  1 / 1;
}

.grid {
  border: 1px solid black;
}

.whiteOne {
  background-color: white;
}

.whiteTwo {
  background-color: rgb(230, 230, 230);
}

.whiteThree {
  background-color: rgb(205, 205, 205);
}

.whiteFour {
  background-color: rgb(180, 180, 180);
}

.whiteFive {
  background-color: rgb(155, 155, 155);
}

.grey {
  background-color: rgb(130, 130, 130);
}

.blackFive {
  background-color: rgb(105, 105, 105);
}

.blackFour {
  background-color: rgb(80, 80, 80);
}

.blackThree {
  background-color: rgb(55, 55, 55);
}

.blackTwo {
  background-color: rgb(27, 27, 27);
}

.blackOne {
  background-color: black;
}